h2{
  font-family: Lucida Console, Courier, monospace;
  text-align: center;
  padding: 20px;
  margin: 20px;
  border: 1px solid green;
}

h6{
  text-align: center;
}

body{
  background-color: #EAFEEA;
}

img.head{
  width: 65%;
  border-radius: 55%;
}

p.blue{
  color: #00b3b4;
}

p.green{
  color: green;
}
.nav{
  background-color: #c1fcc1;
}

.smolsqaure{
  float: right;
}

.green{
  color: green;
}

.blue{
  color: #00b3b4;
}
