h1{
  font-family: Lucida Console, Courier, monospace;
  text-align: center;
}


h6{
  text-align: center;
}

body{
  background-color: #EAFEEA;
}

.intro{
  border-radius: 50%;
}

.green{
  color: green;
}

.blue{
  color: #00b3b4;
}
